body{
    color: rgb(64,64,64);
    font-size: 20px;
}
.h3, .h1{
    font-weight: bold;
}
.container-fluid{
    background-color:white;
    padding: 0;
}
.container-fluid > div{
    padding: 75px 15%;
    width: 100%;
}
.title-team{
    position: absolute;
    right: 0;
    top: 0;
    max-width: 30%;
}
.firstview{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url('../img/title-bg.png');
}
.kusodeka{
    font-size: 128px;
}
.kusodeka>span{
    font-size: 32px;
}
.rule{
    background-color: #FFEFD9;
}
.setup{
    margin: 50px 0px;
    border-left: rgba(0, 0, 0, 0.3) solid 5px;
    justify-content: space-between;
    min-height: 200px;
}
.btns a{
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    background-color: #FFEFD9;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 20px;
    width: 25%;
    display: block;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 3px rgb(168,155,153);
}
.btns a:active{
    box-shadow: none;
    transform: translateY(3px);
}
.footer{
    color: white;
    text-align: center;
    padding-top: 350px;
    height: 500px;
    background-image: url('../img/splash.png');
    background-size: cover;
}