@font-face {
    font-family: 'MochiyPop';
    src: url(../fonts/mochiypop/MochiyPop-E.ttf);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    background-color: rgba(252, 251, 250, 0.5);
}
img{
    z-index: 1;
}

#main {
    width: 100%;
    max-width: 1440px;
}

.header {
    height: 70px;
    width: 100%;
    font-size: 14px;
    position: fixed;
    top: 30px;
    left: 0;
    display: flex;
    font-weight: bold;
    justify-content: center;
    z-index: 10;
}

.header div {
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.5);
    display: block;
    margin: 0px 80px;
    width: 100px;
    height: 100px;
    padding-top: 15px;
    border-radius: 50%;
    color: white;
    line-height: 1;
    cursor: pointer;
    background-color: rgb(255, 194, 228);
}

.header span {
    font-size: 48px;
}

.item {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    position: fixed;
    padding-top: 150px;
    top: 0;
    left: 0;
    z-index: 5;
}

.clear {
    font-size: 60px;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 11;
}

.item>div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

input {
    display: block;
    font-size: 50px;
    border: black 3px solid;
    border-radius: 5px;
    margin: 30px auto;
    font-weight: bold;
}

.stage {
    padding-top: 180px;
    padding-bottom: 50px;
}

.success {
    height: 100vh;
    padding-top: 180px;
    padding-bottom: 50px;
    width: 100vw;
    overflow-y: scroll;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.h3, .h2, .h1 {
    font-weight: bold;
    padding-bottom: 20px;
    font-family: MochiyPop;
}

.stage a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    background-color: #FFEFD9;
    padding: 10px;
    margin: 0px auto;
    border-radius: 30px;
    font-size: 20px;
    width: 25%;
    display: block;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 3px rgb(168, 155, 153);
}

a:active {
    box-shadow: none;
    transform: translateY(3px);
}

.crossword {
    display: flex;
    justify-content: space-around;
}

.crossword table {
    margin: 30px;
    border: black solid 1px;
}

.crossword tr {
    display: flex;
}

.crossword td {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    border: solid black 1px;
}

.crossword input {
    border: none;
    width: 100%;
    height: 100%;
    font-size: 32px;
    text-align: center;
    margin-top: auto;
    display: block;
    background: none;
}

.crossword span {
    position: absolute;
    top: 5px;
    left: 5px;
}

.crossword>div {
    margin: 30px;
    margin-top: auto;
    display: flex;
    align-items: flex-end;
}

.crossword>div div {
    width: 85px;
    height: 85px;
    border: solid black 1px;
}

.crossword>div input {
    font-size: 60px;
}

.stage3>table {
    border: none;
}

.stage3 tr {
    margin-bottom: 10px;
}

.stage3 td {
    margin-right: 2px;
}

.bg-active {
    background-color: #FFEFD9;
}

.group1 td {
    cursor: pointer;
}

.hint-window {
    position: relative;
    height: 70vh;
    width: 400px;
    padding-top: 70px;
    padding-bottom: 100px;
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.5);
    background-color: rgb(160, 184, 223);
    border-radius: 10px;
}

.hint-header {
    border-radius: 10px 10px 0 0;
    height: 60px;
    font-weight: bold;
    width: 100%;
    font-size: 26px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
}

.hint-footer {
    border-radius: 0 0 10px 10px;
    background-color: white;
    min-height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.hint-footer>div {
    width: 100%;
    margin-top: 30px;
}

.hint-footer button {
    background-color: #FFEFD9;
    border: none;
    box-shadow: 0px 3px rgb(168, 155, 153);
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px;
}
.hint-footer button:active{
    box-shadow: none;
    transform: translateY(3px);
}

.hint-footer .sm {
    width: 21%;
    padding: 5px 7px;
}

.hint-main {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.hint-main>div {
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
    font-size: 16px;
}

.player-speak {
    background-color: rgb(141, 226, 134);
    display: block;
    width: 70%;
    padding: 5px 15px;
    text-align: end;
    margin-left: auto;
    margin-right: 5px;
    margin-bottom: 8px;
    border-radius: 50px 0 50px 50px;
}

.game-speak {
    background-color: white;
    display: block;
    width: 70%;
    padding: 5px 15px;
    text-align: start;
    margin-left: 5px;
    margin-bottom: 8px;
    margin-right: auto;
    border-radius: 0 50px 50px 50px;
}

.back-hint {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: black;
    text-decoration: none;
}

.memo-window {
    position: relative;
    padding-top: 70px;
    width: 60vw;
    height: 50vh;
}

.memo-window textarea {
    font-size: 24px;
    resize: none;
    border: solid 2px gray;
    border-radius: 5px;
}

.fruit-flex{
    padding: 50px;
}

.fruit{
    width: 20%;
    height: 170px;
    box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}
.fruit:active{
    box-shadow: none;
    transform: translateY(3px);
}
.ending{
    font-size: 28px;
    font-weight: bold;
    line-height: 1.8;
}
.ending p{
    padding-bottom: 20px;
}