<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Add this to <head> -->

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
        crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0ba569bf5f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>リアル脱出ゲーム|共通画面</title>
</head>

<body>
    <div id="main">
        <div class="header">
            <div @click="toggle('item','map')">
                <span class="material-icons-outlined">task</span>
                <p>流れ図</p>
            </div>
            <div @click="toggle('item','hint')">
                <span class="material-icons-outlined">help_outline</span>
                <p>ヒント</p>
            </div>
            <div @click="toggle('item','memo')">
                <span class="material-icons-outlined">border_color</span>
                <p>メモ</p>
            </div>
        </div>
        <div v-show="stage['item']['map']" class="item">
            <div>
                <span class="material-icons-outlined clear" @click="close('item','map')">clear</span>
                <img src="img/nagare-1.png" v-if="stage[0]['flag']" class="w-100">
                <img src="img/nagare-2.png" v-if="stage[1]['flag']" class="w-100">
                <img src="img/nagare-3.png" v-if="stage[2]['flag']" class="w-100">
                <img src="img/nagare-4.png" v-if="stage[3]['flag'] || stage[4]['flag'] || stage[5]['flag']"
                    class="w-100">
            </div>
        </div>
        <div v-show="stage['item']['hint']" class="item">
            <div>
                <div class="hint-window">
                    <span class="material-icons-outlined clear" @click="close('item','hint')">clear</span>
                    <div class="hint-header">
                        ヒントを聞く
                    </div>
                    <div class="hint-main">
                        <div id="hint">
                            <div class="game-speak">なぞをいっしょに考えよう！</div>
                        </div>
                    </div>
                    <div class="hint-footer">
                        <div>
                        <p v-if="stage[0]['flag']">まだ聞くことがないよ！</p>
                        <button @click="hint_toggle[1] = !hint_toggle[1]; hint(10)"
                            v-if="!hint_toggle[1] && stage[1]['flag']">ステージ１のヒントを聞く！</button>
                        <button v-on:click.self="hint(Number(hint_stage1))" v-if="hint_toggle[1] && stage[1]['flag']">
                            <select v-model="hint_stage1" class="d-inline">
                                <option value='11'>１問目</option>
                                <option value='12'>２問目</option>
                                <option value='13'>３問目</option>
                                <option value='14'>４問目</option>
                                <option value='15'>５問目</option>
                                <option value='16'>６問目</option>
                                <option value='17'>７問目</option>
                                <option value='18'>８問目</option>
                                <option value='19'>９問目</option>
                                <option value='110'>１０問目</option>
                                <option value='111'>１１問目</option>
                                <option value='112'>１２問目</option>
                                <option value='113'>１３問目</option>
                                <option value='114'>１４問目</option>
                            </select>
                            の答えを聞く！
                        </button>
                        <button @click="hint_toggle[2] = !hint_toggle[2]; hint(2)" v-if="!hint_toggle[2] && stage[2]['flag']">ステージ2のヒントを聞く！</button>
                        <button @click="hint(21)" v-if="hint_toggle[2] && stage[2]['flag']">ステージ２の答えを聞く！</button>
                        <button @click="hint_toggle[3] = !hint_toggle[3]; hint(3)" v-if="!hint_toggle[3] && stage[3]['flag']">ステージ3のヒントを聞く！</button>
                        <button @click="hint(31)" v-if="hint_toggle[3] && stage[3]['flag']">ステージ３の答えを聞く！</button>
                        <button @click="hint_toggle[4] = !hint_toggle[4]; hint(4)" v-if="!hint_toggle[4] && stage[4]['flag']">ステージ4のヒントを聞く！</button>
                        <button @click="hint(41)" v-if="hint_toggle[4] && stage[4]['flag']">ステージ４の答えを聞く！</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-show="stage['item']['memo']" class="item">
        <div>
            <div class="memo-window">
                <span class="material-icons-outlined clear" @click="close('item','memo')">clear</span>
                <textarea class="w-100 h-75" placeholder="メモを書こう！" v-model="memo"></textarea>
            </div>
        </div>
    </div>

    <div v-if="stage[0]['flag']" class="stage">
        <div v-if="!stage[0]['tutorial']">
            <p>あと1時間で給食の時間！今日はデザートが出る日だからとても楽しみだ！</p>
            <p>...だれかからメールがとどいたみたい。</p>
            <a @click="toggle('0','mail')" v-if="!stage[0]['mail']">メールをひらく</a>
            <div v-if="stage[0]['mail']" class="text-start w-50 mx-auto border border-dark my-5 p-3 rounded-3">
                <p>親愛なるみんなへ</p>
                <p>
                    とつぜんだが、君たちが楽しみにしていた給食のゼリーは私がいただいた。<br>
                    工場を乗っ取ってゼリーが作れないようにしたのだ。<br>
                    もしもゼリーを返してほしければ、謎を解いて工場を再起動させたまえ。<br>
                    だが、残された時間は少ない。タイムリミットは1時間後の給食の時間までだ。<br>
                    チームで力を合わせて私の謎をといてみたまえ。
                </p>
                <p>ゼリーどろぼうより</p>
            </div>
            <div v-if="stage[0]['mail']">
                <p>ゼリーを取り返すため、工場を再起動しよう！</p>
                <a @click="toggle('0','tutorial')">ゲームを始める</a>
            </div>
        </div>
        <div v-if="stage[0]['tutorial']">
            <div class="h1">工場にアクセス！</div>
            <p>まずはそれぞれのグループの画面で資料にアクセスしよう！</p>
            <p>資料のパスワードは工場の流れ図に記されているぞ！</p>
            <a @click="toggle('0','message')" v-if="!stage[0]['message']">資料を見ることができたら</a>
        </div>
        <div v-if="stage[0]['message']" class="mt-5">
            <p>それぞれの画面の言葉を組み合わせてあいことばを入れよう！</p>
            <input type="text" v-model="stage[0]['input']">
            <p v-if="stage[0]['failed']">ざんねん！もう一度考えてみよう！</p>
            <a @click="auth(0)">アクセス！</a>
        </div>
        <div v-if="stage[0]['success']" class="success">
            <div class="h2">ステージクリア！</div>
            <p>デザート工場にアクセスできたぞ！</p>
            <p>ここからは流れ図をかくにんしながらデザート工場のしていこう！</p>
            <a @click="goNext(0)" href="#main">次のステージへ</a>
        </div>
    </div>

    <div v-if="stage[1]['flag']" class="stage">
        <div class="h1">ステージ１</div>
        <p>まずはレシピを取りもどそう！レシピを確認するために謎を解いてパスワードをみちびき出そう！</p>
        <p>資料のパスワードは流れ図に記されているよ！</p>
        <p>クロスワードには文字を入れられるぞ！グループ１は横のかぎ、グループ２はたてのかぎ。</p>
        <div class="crossword">
            <table>
                <tr>
                    <td><span>1</span><input type="text" maxlength="1"></td>
                    <td><span>2</span><input type="text" maxlength="1"></td>
                    <td style="background-color: rgb(238,204,205);;"><span>3</span><input type="text" maxlength="1">
                    </td>
                    <td class="bg-black"></td>
                    <td style="background-color: rgb(220,232,213);"><span>4</span><input type="text" maxlength="1">
                    </td>
                    <td><input type="text" maxlength="1"></td>
                </tr>
                <tr>
                    <td><span>5</span><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td style="background-color: rgb(220,232,213);"><span>6</span><input type="text" maxlength="1">
                    </td>
                    <td><input type="text" maxlength="1"></td>
                    <td class="bg-black"></td>
                </tr>
                <tr>
                    <td class="bg-black"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td class="bg-black"></td>
                    <td style="background-color: rgb(211,225,241);"><span>7</span><input type="text" maxlength="1">
                    </td>
                    <td><input type="text" maxlength="1"></td>
                    <td><span>8</span><input type="text" maxlength="1"></td>
                </tr>
                <tr>
                    <td><span>9</span><input type="text" maxlength="1"></td>
                    <td class="bg-black"></td>
                    <td><span>10</span><input type="text" maxlength="1"></td>
                    <td class="bg-black"></td>
                    <td style="background-color: rgb(253,242,208);"><span>11</span><input type="text" maxlength="1">
                    </td>
                    <td><input type="text" maxlength="1"></td>
                </tr>
                <tr>
                    <td><span>12</span><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><span>13</span><input type="text" maxlength="1"></td>
                    <td class="bg-black"></td>
                    <td><input type="text" maxlength="1"></td>
                </tr>
                <tr>
                    <td><input type="text" maxlength="1"></td>
                    <td class="bg-black"></td>
                    <td style="background-color: rgb(220,232,213);"><span>14</span><input type="text" maxlength="1">
                    </td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                </tr>
            </table>
            <div>
                <div style="background-color: rgb(220,232,213);"><input type="text" maxlength="1"></div>
                <p style="font-size: 70px;">”</p>
                <div style="width: 50px; height: 50px; background-color: rgb(253,242,208);"><input type="text"
                        maxlength="1" style="font-size: 30px;"></div>
                <div style="background-color: rgb(211,225,241);"><input type="text" maxlength="1"></div>
                <div style="background-color: rgb(238,204,205);"><input type="text" maxlength="1"></div>
            </div>
        </div>
        <p>マスをクリックして文字を入力できるよ</p>
        <input type="text" v-model="stage[1]['input']">
        <p v-if="stage[1]['failed']">ざんねん！もう一度考えてみよう！</p>
        <a @click="auth(1)">アクセス！</a>
        <div v-if="stage[1]['success']" class="success">
            <div class="h2">ステージクリア！</div>
            <p>レシピに取りもどすことができた！</p>
            <p>次はゼリーの材料を集めよう！</p>
            <a @click="goNext(1)" href="#main">次のステージへ</a>
        </div>
    </div>

    <div v-if="stage[2]['flag']" class="stage">
        <div class="h1">ステージ２</div>
        <p>次はゼリーの材料を集めよう！しかし、材料の入っているれいぞうこにはかぎがかかっているようだ！</p>
        <p>材料を手に入れるためにれいぞうこのかぎを開けよう！</p>
        <p>資料のパスワードは流れ図に記されているよ！</p>
        <p>グループ2は書いてあるものの名前をグループ1に教えてあげよう！</p>
        <p>グループ1は教えてもらったものの名前をクリックしてぬりつぶしていこう！</p>
        <p>最後までのこった文字がパスワードだよ</p>
        <input type="text" v-model="stage[2]['input']">
        <p v-if="stage[2]['failed']">ざんねん！もう一度考えてみよう！</p>
        <a @click="auth(2)">アクセス！</a>
        <div v-if="stage[2]['success']" class="success">
            <div class="h2">ステージクリア！</div>
            <p>れいぞうこを開けることができた！</p>
            <p>ゼリーの材料を選ぼう！</p>
            <div class="d-flex justify-content-around fruit-flex">
                <div class="fruit" @click="fruit('ぶどう')">
                    <img src="img/grape.png" alt="" class="h-75">
                    <p>ぶどう</p>
                </div>
                <div class="fruit" @click="fruit('りんご')">
                    <img src="img/apple.png" alt="" class="h-75">
                    <p>りんご</p>
                </div>
                <div class="fruit" @click="fruit('おれんじ')">
                    <img src="img/orange.png" alt="" class="h-75">
                    <p>おれんじ</p>
                </div>
            </div>
            <a @click="goNext(2)" href="#main">{{ fruit_message }}</a>
        </div>
    </div>

    <div v-if="stage[3]['flag']" class="stage">
        <div class="h1">ステージ３</div>
        <p>乗っ取られているゼリーの生産ラインを直そう！</p>
        <p>資料のパスワードは流れ図に記されているよ！</p>
        <p>グループ１とグループ２の絵をくらべるとまちがいが４つあるよ。協力して発見しよう</p>
        <div class="crossword stage3">
            <table>
                <tr>
                    <td style="background-color: rgb(238,204,205);"><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1" value="ご" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" maxlength="1" value="ひ" readonly></td>
                    <td style="background-color: rgb(220,232,213);"><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1" value="き" readonly></td>
                    <td><input type="text" maxlength="1" value="き" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1" value="ー" readonly></td>
                    <td><input type="text" maxlength="1" value="ラ" readonly></td>
                    <td><input style="background-color: rgb(253,242,208);" type="text" maxlength="1"></td>
                </tr>
                <tr>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1" value="イ" readonly></td>
                    <td><input type="text" maxlength="1" value="ト" readonly></td>
                    <td><input type="text" maxlength="1"></td>
                    <td style="background-color: rgb(211,225,241);"><input type="text" maxlength="1"></td>
                    <td><input type="text" maxlength="1" value="ド" readonly></td>
                </tr>
            </table>
            <div>
                <div style="background-color: rgb(238,204,205);"><input type="text" maxlength="1"></div>
                <div style="background-color: rgb(253,242,208);"><input type="text" maxlength="1"></div>
                <div style="background-color: rgb(220,232,213);"><input type="text" maxlength="1"></div>
                <div style="background-color: rgb(211,225,241);"><input type="text" maxlength="1"></div>
            </div>
        </div>
        <p>マスをクリックして文字を入力できるよ！</p>
        <div>
            <input type="text" v-model="stage[3]['input']">
            <p v-if="stage[3]['failed']">ざんねん！もう一度考えてみよう！</p>
            <a @click="auth(3)">アクセス！</a>
            <div v-if="stage[3]['success']" class="success">
                <div class="h2">ステージクリア！</div>
                <p>生産ラインを直すことができた！</p>
                <a @click="goNext(3)" href="#main">次へ</a>
            </div>
        </div>
    </div>

    <div v-if="stage[4]['flag']" class="stage">
        <div class="h1">ステージ４</div>
        <p>これでゼリーがつくれるはずだ！</p>
        <p>あれ？全ての謎をといたはずなのに動かないぞ？？</p>
        <p>...だれかからメールがきた！</p>
        <a @click="toggle(4,'mail')" v-if="!stage[4]['mail']">メールをひらく</a>
        <div v-if="stage[4]['mail']">
            <div class="text-start w-50 mx-auto border border-dark my-5 p-3 rounded-3">
                <p>親愛なるみんなへ</p>
                <p>
                    ふふふ、ざんねん。本当に生産ラインが動きだすのは私の正体がわかってからだ。<br>
                    最後の問題を解いて私の正体を当ててみたまえ。
                </p>
                <p>
                    それぞれの資料は「こんぱす」と入力したら見ることができる。
                </p>
                <p>
                    グループ1はGoogleで検索してその答えをグループ2に教えたまえ。<br>
                    グループ2は教えてもらった言葉をメモに書いて、記号に当てはめてみたまえ。
                </p>
            </div>
            <img src="img/stage4-common.png" class="w-75">
            <br>
            <input type="text" v-model="stage[4]['input']">
            <p v-if="stage[4]['failed']">ざんねん！もう一度考えてみよう！</p>
            <a @click="auth(4)">アクセス！</a>
            <div v-if="stage[4]['success']" class="success">
                <p>なんと...どろぼうは校長だった！</p>
                <a @click="goNext(4)" href="#main">どうしてこんなことを？</a>
            </div>
        </div>

    </div>

    <div v-if="stage[5]['flag']" class="stage ending">
        <p>-前日-</p>
        <p>おや、校長室で給食を一人で食べてる人がいる<br>
            校長先生だ。</p>
        <p>校長「ごちそうさまでした！<br>
            ...うーん、おなかいっぱいになったはずだけど何か物足りないなぁ。<br>
            生徒の様子を見に行くとしよう。」</p>
        <p>生徒たちが食べている様子を見に来た校長先生<br>
            生徒にバレないようにこっそりと教室をのぞきます。</p>
        <p>校長「あれ、同じ給食を食べているはずなのに、<br>
            どうしてあんなに美味しそうだし、楽しそうなんだろう...<br>
            いいなぁ....みんなばっかりずるい...<br>
            そうだ、デザートを食べられなくしてやろう！」</p>
        <p>-２時間前-</p>
        <p>みんなからデザートをうばうことにした校長先生。<br>
            デザート工場をのっとり、みんなのデザートをうばってしまいます。</p>
        <p>校長「うーん、ただみんなが大好きなデザートをうばうのはちょっとかわいそうだな..<br>
            もし私からの謎がとけた時は工場でゼリーを作ることができるようにしよう！」</p>
        <p>校長「私の謎はむずかしいぞ！解けるものなら解いてみろ！」</p>
        <p>しかし校長の力作の謎たちは生徒たちにあっさりと解かれてしまいます。<br>
            正体がばれてしまった校長は、ふかい悲しみに包まれるのでした。</p>
        <p>悲しみにくれる校長先生に声をかける生徒たち。</p>
        <p>生徒「校長先生、給食はねみんなで食べるからおいしいし、楽しいんだよ。<br>
            そうだ、作ったゼリーを先生もいっしょに食べてみようよ！」</p>
        <p>校長「でも私はみんなにひどいことをしてしまった...ごめんなさい...」</p>
        <p>生徒「あやまってくれたし、もう大丈夫だよ！いっしょに食べよう！」</p>
        <p>生徒たちといっしょにゼリーを食べる校長先生</p>
        <p>校長「本当だ！すごくおいしい！」</p>
        <p>校長先生の顔に笑顔が広がります</p>
        <p>生徒「校長先生はいそがしいから、いつもいっしょに食べるのはむずかしいけど、<br>
            さみしいときはいっしょに食べようよ！」</p>
        <p>校長「いいのかい..？ありがとう！！」</p>
        <p>こうして校長先生はおなかだけでなく、心も幸せでいっぱいになったのでした。</p>
        <div class="w-75 mx-auto" style="height: 100vh;">
            <img class="h-100" src="img/end-apple.png" v-if="fruit_name == 'りんご' || fruit_name == ''">
            <img class="h-100" src="img/end-orange.png" v-if="fruit_name == 'おれんじ'">
            <img class="h-100" src="img/end-grape.png" v-if="fruit_name == 'ぶどう'">
        </div>
    </div>
    </div>
    <script>
        Vue.config.devtools = true;

        new Vue({
            el: '#main',
            data: {
                fruit_name: '',
                fruit_message: '材料を決めよう',
                memo: '',
                hint_stage1: 11,
                hint_toggle: {
                    1: false,
                    2: false,
                    3: false,
                    4: false,
                },
                stage: {
                    item: {
                        map: false,
                        hint: false,
                        memo: false,
                    },
                    0: {
                        //てんぷら↓↓
                        flag: true,
                        input: "",
                        answer: "きゅうしょく",
                        failed: false,
                        success: false,

                        //開けたりしたいやつ↓↓
                        tutorial: false,
                        mail: false,
                        message: false,
                    },
                    1: {
                        flag: false,
                        input: "",
                        answer: "がっこう",
                        failed: false,
                        success: false,
                    },
                    2: {
                        flag: false,
                        input: "",
                        answer: "おとな",
                        failed: false,
                        success: false,
                    },
                    3: {
                        flag: false,
                        input: "",
                        answer: "りーだー",
                        failed: false,
                        success: false,
                    },
                    4: {
                        flag: false,
                        input: "",
                        answer: "こうちょう",
                        failed: false,
                        success: false,

                        mail: false,
                    },
                    5: {
                        flag: false,
                        input: "",
                        answer: "",
                        failed: false,
                        success: false,
                    },
                }
            },
            methods: {
                toggle(index, data) {
                    if (index == 'item') {
                        for (const k in this.stage['item']) {
                            if (k == data) {
                                this.stage['item'][data] = !this.stage['item'][data];
                            } else {
                                this.stage['item'][k] = false;
                            }
                        }
                    } else {
                        this.stage[index][data] = !this.stage[index][data];
                    }
                },
                close(index, data) {
                    this.stage[index][data] = false;
                },
                auth(index) {
                    if (this.stage[index]['input'] == this.stage[index]['answer']) {
                        this.stage[index]['success'] = true;
                        this.stage[index]['failed'] = false;
                    } else {
                        this.stage[index]['failed'] = true;
                    }
                },
                goNext(index) {
                    if (index == 2 && this.fruit_name == '') {
                        return;
                    }
                    this.stage[index]['flag'] = false;
                    this.stage[index + 1]['flag'] = true;
                },
                fruit(name) {
                    this.fruit_name = name;
                    this.fruit_message = name + 'に決めた'
                },
                hintMessage(i, m) {
                    const div = document.getElementById('hint');
                    div.insertAdjacentHTML('beforeend', '<div class="' + i + '-speak">' + m + '</div>');
                    div.scrollBy(0, 200);

                },
                hint(num) {
                    switch (num) {
                        case 1:
                            this.hintMessage('player', 'ステージ１のヒントを教えて！');
                            break;
                            case 10:
                            this.hintMessage('player', 'ステージ１を教えて！');
                                this.hintMessage('game', '困ったら検索をしてもいいかも！<br>わからない問題があったら聞いてね！');
                            break;
                            case 11:
                                this.hintMessage('player', '１問目を教えて！');
                                this.hintMessage('game', '１問目は横は「ぶどう」、縦は「ぶた」だよ');
                                break; case 12:
                                this.hintMessage('player', '２問目を教えて！');
                                this.hintMessage('game', '２問目は「ドイツ」だよ');
                                break; case 13:
                                this.hintMessage('player', '３問目を教えて！');
                                this.hintMessage('game', '３問目は「ウシ」だよ');
                                break; case 14:
                                this.hintMessage('player', '４問目を教えて！');
                                this.hintMessage('game', '４問目は「かき」だよ');
                                break; case 15:
                                this.hintMessage('player', '５問目を教えて！');
                                this.hintMessage('game', '５問目は「たいしかん」だよ');
                                break; case 16:
                                this.hintMessage('player', '６問目を教えて！');
                                this.hintMessage('game', '６問目は「かこ」だよ');
                                break; case 17:
                                this.hintMessage('player', '７問目を教えて！');
                                this.hintMessage('game', '７問目は「こさめ」だよ');
                                break; case 18:
                                this.hintMessage('player', '８問目を教えて！');
                                this.hintMessage('game', '８問目は「メキシコ」だよ');
                                break; case 19:
                                this.hintMessage('player', '９問目を教えて！');
                                this.hintMessage('game', '９問目は「しじん」だよ');
                                break; case 110:
                                this.hintMessage('player', '１０問目を教えて！');
                                this.hintMessage('game', '１０問目は「しゃか」だよ');
                                break; case 111:
                                this.hintMessage('player', '１１問目を教えて！');
                                this.hintMessage('game', '１１問目は「つき」だよ');
                                break; case 112:
                                this.hintMessage('player', '１２問目を教えて！');
                                this.hintMessage('game', '１２問目は「じしゃく」だよ');
                                break; case 113:
                                this.hintMessage('player', '１３問目を教えて！');
                                this.hintMessage('game', '１３問目は「くま」だよ');
                                break; case 114:
                                this.hintMessage('player', '１４問目を教えて！');
                                this.hintMessage('game', '１４問目は「かまぼこ」だよ');
                                break;
                        case 2:
                            this.hintMessage('player', 'ステージ２のヒントを教えて！');
                            this.hintMessage('game', '最後まで残る文字は3文字だよ');
                            break;
                        case 21:
                            this.hintMessage('player', '答えも教えて！');
                            this.hintMessage('game', '答えは「おとな」のようだよ');
                            break;
                        case 3:
                            this.hintMessage('player', 'ステージ３のヒントを教えて！');
                            this.hintMessage('game', 'まちがいは上半分に1つ、下半分に3つあるよ');
                            break;
                        case 31:
                            this.hintMessage('player', '答えも教えて！');
                            this.hintMessage('game', '答えは「りーだー」のようだよ');
                            break;
                        case 4:
                            this.hintMessage('player', 'ステージ４のヒントを教えて！');
                            this.hintMessage('game', '同じ記号には同じ文字が入るよ');
                            break;
                        case 41:
                            this.hintMessage('player', '答えも教えて！');
                            this.hintMessage('game', '答えは「こうちょう」のようだよ');
                            break;
                    }
                }
            }
        })
    </script>
</body>

</html>
